//Main Colors

$white: rgb(245, 241, 241);
$img-border-color: #ccc;
$error-color: #e4757a;
$warning-color: #fd7856;
$success-color: #63cc82;
$default-color: #51ddfc;
$primary-color: #58e1c1;
$secondary-color: #777;
$info-color: #927bc1;
$column-3-color: #deb2ee;
$column-4-color: #7ee6fd;
$column-5-color: #88d9a0;
$column-6-color: #4da2bb;
$column-7-color: #ec9fa3;
$column-8-color: #fd9f85;
$column-12-color: #80e8d1;

// Media Queries

$breakpoint-large: 768px;

// Typography

$line-height: 1.45em;

//Font
$primary-font: 'Lato', sans-serif;



//Styling

$border-radius: 5px;

//Button effects

$lighten-amount: 15%;
