.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $border-radius;
    
  }

.btn{


    transition: background-color 0.3s ease-in;

  }
  
  
  .default {
    background-color: $default-color;
    &:hover{

      background-color: lighten($color: $default-color, $amount: $lighten-amount);

    }
  }
  
  .error {
    background-color: $error-color;
    &:hover{

      background-color: lighten($color: $error-color, $amount: $lighten-amount);

    }
  }
  
  .info {
    background-color: $info-color;
    &:hover{

      background-color: lighten($color: $info-color, $amount: $lighten-amount);

    }
  }
  
  .success {
    background-color: $success-color;
    &:hover{

      background-color: lighten($color: $success-color, $amount: $lighten-amount);

    }
  }
  
  .warning {
    background-color: $warning-color;
    &:hover{

      background-color: lighten($color: $warning-color, $amount: $lighten-amount);

    }
  }